<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="auth.authenticated$ | async; else signin">
        <a class="nav-link" href="#" (click)="auth.logout()">Logout</a>
      </li>
    </ul>
  </div>
  <ng-template #signin>
    <li class="nav-item">
      <a class="nav-link" href="#">Login</a>
    </li>
  </ng-template>

</nav>
<alert></alert>
<div class="container">

  <div class="info">
    <h1>Phone Number Login</h1>
    <p class="lead">
      Phone number verification with Firebase
    </p>
  </div>

  <ng-template #login>

    <!--
      Optional recaptcha container

      <div class="row">
        <div class="col">
          <div id="recaptcha-container"></div>
        </div>
      </div>
    -->

    <login></login>

  </ng-template>


  <div *ngIf="auth.user$ | async as user">
    <div *ngIf="user.uid !== 'unknown'; else login">
      <div class="row">
        <div class="col">
          <h2>Logged In</h2>
          <p>
            Authenticated by your phone number.<br> Type yourself a message to save to the database...
          </p>
        </div>
      </div>

      <messages></messages>

    </div>
  </div>


</div>
<!-- /.container -->